footer{
    background-color: #242526;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0px;
    text-align: center;
    border-bottom: 3px solid var(--accent-color);
}
footer>h1{
    font-family: var(--seconday-font);                                                
    font-weight: 400 !important;
    font-size: 1.5em;
    color: white;
    margin: 0;
    padding-top: 10px;
}
footer>.iconfooter>.imgfooter{
    max-width:40px;
    padding: 10px;
    border-radius: 100%;
}
footer>.iconfooter>.imgfooter:hover{
    opacity:50%;
    transform: scale(1.1); 
    transition: all 0.5s ease-in;
}
.ContactPage>footer{
    position: fixed;
}
@media only screen and (max-width: 767px) and (min-width: 0px){
    footer>h1{
        font-size: 1em  !important;
    }
    footer>.iconfooter>.imgfooter{
        max-width: 7vw;
    }
}