.Parent{
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    margin:auto;
    max-width: 17in;
    padding-right: 5%;
    padding-left: 5%;
}
.Parent>.images{
    width: 17%;
    height: 30%;
    margin-top: 3%;
    border-radius: 5px;
    background-color: var(--skills-bg-color);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding-bottom: 20px;
    top: 30px;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.Parent>.images>p{
    margin: auto;
    max-width: 225px;
}
.Parent>.images>p>a>img{
    margin: 5px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Parent>.Mainbody{
    background:  rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    width: 80%;
    margin-left: 3%;
    margin-bottom: 3%;
}
.Parent>.Mainbody>.AboutMe{
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: -4%; 
    margin-bottom: -4%;
    padding-left: 2.5%;
}
.Parent>.Mainbody>.AboutMe>.Text{
    font-family: var(--title-font);      
    font-style: normal;
    padding-left: 10px;
    margin-right: 5%;
    padding-right: 10px;
    color: black;
    width: fit-content;
    height: auto;
}
.Parent>.Mainbody>.AboutMe>.Text>h1{
    font-family: var(--title-font);            
    font-weight: 400 !important;
    color: tomato;
    font-size: 2em !important;
    margin-bottom: 1%;
}
.Parent>.Mainbody>.AboutMe>.Text>.msg{
    text-align: justify;
    font-weight: 400 !important; 
    font-size: 1em !important;
    margin-top: 0;
    color: black;
}
.Parent>.Mainbody>.AboutMe>.Text>.msg>a{
    color: black;
}
.SectionSkill{
    text-align: center;
    font-family: var(--title-font);   
    font-size: 1.5em !important;
    font-weight: 400;
    color: 	var(--welcome-text-color);
}
@media only screen and (max-width: 1480px) and (min-width: 1300px){
    .Parent>.images>p{
        margin: auto;
        max-width:170px;
    }
}
@media only screen and (max-width: 1300px) and (min-width: 767px) {
    .Parent{
        padding-right: 0%;
        padding-left: 0%;
    }
    .Parent>.Mainbody{
        width: 95%;
        margin-top: 5%;
        margin-left: 2.5%;
    }
    .Parent>.Mainbody>.AboutMe{
        text-align: center;
        flex-direction: column;
        width: 100%;
        padding-left: 2.5%;
        margin: 0;
        height: auto;
    }
    .Parent{
        flex-direction: column;
    }
    .Parent>.images{
        width: 95%;
        margin-left: 2.5%;
        text-align: center;
        position: static;
    }
    .Parent>.images>p>a>img{
        margin: 30px;
        scale: 1.3;
    }
    .Parent>.images>p>a{
        padding: 0px;
    }
    .Parent>.images>p{
        max-width: fit-content;
        padding-left: 0%;
    }
    
    .SectionSkill{
        font-size: 24px;
        background-color: tomato;
        width: 95%;
        margin-left: 2.5%;
        opacity: 0.90;
        border-radius: 5px;
    }
    .Parent>.Mainbody>.AboutMe>.Text>h1{
        font-size: 30px !important;
    }
    .Parent>.Mainbody>.AboutMe>.Text>.msg{
        font-size: 1.1em !important;
    }
  }
  @media only screen and (max-width: 767px) and (min-width: 0px){
    .Parent{
        padding-right: 0%;
        padding-left: 0%;
    }
    .Parent>.Mainbody{
        width: 95%;
        margin-top: 5%;
        margin-left: 2.5%;
        margin-bottom: 5%;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;        
    }
    .Parent>.Mainbody>.AboutMe{
        text-align: center;
        flex-direction: column;
        width: 100%;
        padding-left: 2.5%;
        margin: 0;
        height: auto;
    }
    .Parent{
        flex-direction: column;
    }
    .Parent>.images{
        width: 95%;
        margin-left: 2.5%;
        text-align: center;
        position: static;
    }
    .Parent>.images>p>a>img{
        max-width: 6vw;
        max-height: 6vw;
    }
    .Parent>.images>p>a{
        padding: 0px;
    }
    .Parent>.images>p{
        max-width: fit-content;
        padding-left: 0%;
    }

    .Parent>.Mainbody>.AboutMe>img{
        max-width: 0.5vw;
    }
    .SectionSkill{
        background-color: tomato;
        width: 95%;
        margin-left: 2.5%;
        opacity: 0.90;
        border-radius: 5px;
        font-size: 1em !important;
    }
    .Parent>.Mainbody>.AboutMe>.Text>h1{
        font-size: 1.7em !important;
    }
    .Parent>.Mainbody>.AboutMe>.Text>.msg{
        text-align: center;
        font-size: 1em !important;
    }
    .Projects{
        display: none;
    }
  }