.ParentBody{
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width: 14in;
    margin-top: 1%;
    padding-top: 2%;
    margin-bottom: 1%;
    padding-bottom: 7%;
    background-color: rgba(112, 112, 112,0.05);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Parentbody>.images{
    width: 70%;
    margin-left: 16%;
    text-align: center;
    background: var(--skills-bg-color);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 5px;
}
.Parentbody>.images>p>a{
    padding: 5px;
}
.ParentBody>.images>p>a>img{
    padding: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Parentbody>.Mainbody{
    background:  var(--main-body-bg-color);
    border-radius: 5px;
    width: 70%;
    margin-left: 16%;
    margin-top: 2%;
    margin-bottom: -4%;
}
.ParentBody>.images>.SectionSkill{
    text-align: center;
    font-family: var(--title-font);   
    font-size: 1.5em;
    font-weight: 400;
    color: 	var(--welcome-text-color);    
}
@media only screen and (max-width: 1300px) and (min-width: 767px){
    .ParentBody{
        background-color: transparent;
    }
    .Parentbody>.images{
        margin-left: 2.5%;
        width: 95%;
    }   
    
    .Parentbody>.images>p>a>img{
        margin: 15px;
        scale: 1.2;
    }
    .Parentbody>.images>p>a{
        padding: 0px;
    }
    .Parentbody>.images>p{
        margin-left: 0%;
    }

    .Parentbody>.Mainbody{
        margin-left: 2.5%;
        width: 95%;
    }
    .ParentBody>.images>.SectionSkill{
        color: black;
    }
  }
@media only screen and (max-width: 767px) and (min-width: 0px){
        .ParentBody{
            background-color: transparent;
            margin-bottom: 0%;
        }
        .Parentbody>.images{
            margin-left: 2.5%;
            width: 95%;
        }   
        
        .Parentbody>.images>p>a>img{
            max-width: 6vw;
            max-height: 6vw;
            margin: 5px;
            padding: 3px;
        }
        .Parentbody>.images>p>a{
            padding: 0px;
        }
        .Parentbody>.images>p{
            margin-left: 0%;
        }
    
        .Parentbody>.Mainbody{
            margin-left: 2.5%;
            width: 95%;
        }
        .ParentBody>.images>.SectionSkill{
            color: black;
        }
    }