.Readme_body{
    margin:auto;
    max-width: 13in;
    margin-top: 3%;
    border-radius: 100%;
}
.markdown-body{
    background-color: white;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    opacity: 0.95;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.markdown-body>p{
    font-family: var(--title-font);
    font-size: 1em;
    font-weight: 400;
    color: black;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
@media only screen and (max-width: 1300px) and (min-width: 767px) {
    .Readme_body{
        margin-left: 2.5%;
        width: 95%;
    }
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
    .Readme_body{
        margin-left: 2.5%;
        width: 95%;
    }
    .markdown-body>h1{
        text-align: center;
    }
}
    
