.StartPage{
    padding-left: 5%;
    margin: 0;
    position: relative;
}
.StartPage >.IntroText{
    pointer-events: none;
    font-family: var(--title-font);       
    font-weight: 500 !important;
    font-size: 5em;
    color: var(--welcome-text-color);
    overflow: hidden;
    white-space: nowrap;
    border-right: .05em solid red;
    animation: 
        typing 3.0s forwards,
        blink 1s step-end infinite;
    margin-bottom: -1%;
}
.StartPage >.IntroMsg{
    font-family: var(--seconday-font);
    text-align: justify;
    font-weight: 400 !important;
    font-size: 35px;
    width: 92%;
    color: var(--secondary-text-color);
    
}
.StartPage>.Icons{
    display: flex;
    gap: 20px;
    height:2.5vw;
    width:2.5vw;
}
.StartPage>.Icons>.linkedinIcon:hover{
  opacity:50%;
  transform: scale(1.2); 
  transition: all 0.5s ease-in;
}
.StartPage>.Icons>.GithubIcon:hover{
  opacity:50%;
  transform: scale(1.2); 
  transition: all 0.5s ease-in;
}
.StartPage>.Icons>a>img{
  height: 2.5vw;
  width: 2.5vw;
}
.StartPage>.Icons>a>img:hover{
  opacity:50%;
  transform: scale(1.2); 
  transition: all 0.5s ease-in;
}
.arrow {
  position: absolute;
  right: 48%;
  display: none;

  opacity: 0;
  color: var(--secondary-text-color);
  animation: MoveUpDown 1s linear infinite;
  transition: opacity 0.5s ease-in-out;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 120px;
  }
  50% {
    bottom: 140px;
  }
}
@keyframes typing {
  0% { width: 0 }
  100% { width: 100% }
}

@keyframes blink {
    50% {
      border-color: transparent;
    }
}


@media only screen and (max-width: 1300px) {
    .StartPage>.Icons{
      height:5vw;
      width:5vw;
    }
    .StartPage>.Icons>a>img{
      height: 5vw;
      width: 5vw;
    }
    .StartPage{
      height: 63vh;
    }
    .StartPage >.IntroText{
      margin-top: 27vh;
    }
    .arrow{
      display: block;
      opacity: 1;
    }
    .StartPage >.IntroMsg{
      color: #e8e8e8;
    }
  }