.StartPage{
    margin: auto;
    max-width: 17in;
    padding-left: 5%;
    padding-right: 5%;
}
.StartPage >.IntroText{
    pointer-events: none;
    font-family: var(--title-font);       
    font-weight: 400 !important;
    font-size: 5em !important;
    color: var(--welcome-text-color);
    margin-bottom: -1%;
    overflow: hidden; 
    border-right: 0.07em solid red; 
    white-space: nowrap;
    animation: 
      typing 1s forwards,
      blink 1s infinite;
}
.StartPage >.IntroMsg{
    font-family: var(--seconday-font);
    text-align: justify;
    font-weight: 400 !important;
    font-size: 35px !important;
    width: 100%;
    color: var(--secondary-text-color);
    
}
.StartPage>.IntroMsg>a{        
    font-weight: 400 !important;
    color: tomato;
}
.StartPage>.IntroMsg>a:hover{
    color: lightblue;
}
.StartPage>.IntroMsg>.SDE{
    font-weight: 400 !important;
    color: tomato;
}

.StartPage>.Icons{
    display: flex;
    gap: 20px;
    height: 50px;
    width: 50px;
}
.StartPage>.Icons>.linkedinIcon:hover{
  opacity:50%;
  transform: scale(1.2); 
  transition: all 0.5s ease-in;
}
.StartPage>.Icons>.GithubIcon:hover{
  opacity:50%;
  transform: scale(1.2); 
  transition: all 0.5s ease-in;
}
.StartPage>.Icons>a>img{
  height: 50px;
  width: 50px;
}
.StartPage>.Icons>a>img:hover{
  opacity:50%;
  transform: scale(1.2); 
  transition: all 0.5s ease-in;
}
.arrow {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  display: none;

  opacity: 0;
  color: var(--secondary-text-color);
  animation: MoveUpDown 1s linear infinite;
  transition: opacity 0.5s ease-in-out;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 120px;
  }
  50% {
    bottom: 140px;
  }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100vw }
}

@keyframes blink {
    50% {
      border-color: transparent;
    }
}


@media only screen and (max-width: 1300px) and (min-width: 767px) {
    .StartPage{
      padding-left: 5%;
      position: relative;
    }
    .StartPage>.Icons{
      height:5vw;
      width:5vw;
    }
    .StartPage>.Icons>a>img{
      height: 5vw;
      width: 5vw;
    }
    .StartPage{
      height: 80vh;
    }
    .StartPage >.IntroText{
      margin-top: 20vh;
    }
    .arrow{
      display: block;
      opacity: 1;
    }
    .StartPage >.IntroMsg{
      color: #e8e8e8;
    }
  }
  @media only screen and (max-width: 767px) and (min-width: 0px){
    .StartPage{
      padding-left: 5vw;
      position: relative;
    }
    .StartPage>.Icons{
      height:10vw;
      width:10vw;
    }
    .StartPage>.Icons>a>img{
      height: 10vw;
      width: 10vw;
    }
    .StartPage{
      height: 80vh;
    }
    .StartPage >.IntroText{
      margin-top: 20vh;
      font-size: 2.5em !important;
      border-right: 0.15em solid red;
      animation: typing-mobile 1.5s linear,
                blink 1s infinite;
      width: fit-content;
      padding-right: 5px;
    }
    .StartPage >.IntroMsg{
      font-size: 1.2em !important;
    }
    .arrow{
      display: block;
      opacity: 1;
    }
    .StartPage >.IntroMsg{
      color: #e8e8e8;
    }    
    @keyframes typing-mobile {
      from { width: 0 }
      to { width: 240px }
    }
  }